@charset "UTF-8";


/*
    CORES:
    Roxo: #5f00b3
    Roxo Claro: #D916FA
    Azul Escuro: #4516FA
    Azul: #167AFA
*/

* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html, body {
    background-image: linear-gradient(to top, #3f0075, #D916FA, #009ffc, #00204b);
    height: 100vh;
    width: 100vw;
}

main {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

section#login {
    overflow: hidden;
    background-color: white;
    width: 260px;
    height: 515px;
    border-radius: 20px;  
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.486);
    transition: width .2s, height .2s;
    transition-timing-function: ease; 
}

div#imagem {
    display: block;
    background: #167AFA url(../image/fundo.jpg) no-repeat;
    background-size: cover;
    background-position: center left;
    height: 200px;
}

div#formulario {
    display: block;
    padding: 10px;
}

div#formulario > h1 {
    text-align: center;
    margin-bottom: 10px;
}

div#formulario > p {
    font-size: 0.8em;
}

div.campo {
    background-image: linear-gradient(to top, #3f0075, #D916FA, #00204b);
    border: 1px solid #2b0050;
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 8px;
    margin: 5px 0px;
}

form label {
    display: none;
}

div.campo > i {
    color: white;
    
    font-size: 2em;
    width: 40px;
    padding: 5px;
}

div.campo > input {
    background-color: #5c00ad;
    color: white;
    font-size: 1em;
    width: calc(100% - 40px);
    height: 100%;
    border: 0px;
    border-radius: 8px;
    padding: 4px;
    transform: translate(40px, -42px);
}

div.campo > input:focus-within {
    background-color: #871de4;
    border: none;
    outline: none;
}

div.campo > input::placeholder {
    color: white;
}

form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #D916FA;
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 5px black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form > input[type=submit]:hover {
    background-color: #840d99;
}

form > a.botao {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    padding-top: 7px;
    margin-top: 5px;
    background-color: rgb(224, 224, 224);
    border: 1px solid #D916FA;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 5px black;
    cursor: pointer;
}

form > a.botao:hover {
    background-color: rgb(202, 202, 202);
}

form > a.botao > i {
    font-size: 0.8em;
}